<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        color: #e0def4;
        font-family: 'Poppins', sans-serif;
        background-color: #191724;
        margin: 3rem;
      }

      h1 {
        color: #524f67;
      }

      img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 50%;
      }

      p {
        width: 80%;
        max-width: 40rem;
      }

      .fa-solid {
        color: #403d52;
        width: 1.5rem;
      }
    </style>
  </head>
  <body>
    <h1>About Page</h1>
    <img
      src="https://i.pinimg.com/736x/21/1b/b8/211bb88a68d62841158a7c0644918974.jpg"
      alt="Luna Lovegood"
    />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea blanditiis
      voluptas, mollitia vel quis repellat illum sed cumque quam deserunt iusto
      sapiente ab voluptatibus exercitationem, esse qui quod facilis aspernatur
      excepturi sequi aliquid doloremque. Suscipit assumenda modi minima
      dignissimos ratione!
    </p>
  </body>
</html>
