<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head'); %>
    </head>
    <body>
        <h1 class="page__title">About Page</h1>
        <img
            class="about__img"
            src="https://i.pinimg.com/736x/21/1b/b8/211bb88a68d62841158a7c0644918974.jpg"
            alt="Luna Lovegood"
        />
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea
            blanditiis voluptas, mollitia vel quis repellat illum sed cumque
            quam deserunt iusto sapiente ab voluptatibus exercitationem, esse
            qui quod facilis aspernatur excepturi sequi aliquid doloremque.
            Suscipit assumenda modi minima dignissimos ratione!
        </p>
        <script src="/js/app.js"></script>
    </body>
</html>
