<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('header'); %>
    </head>
    <body>
        <h1 class="page__title">Contact Page</h1>
        <p>
            <i class="fa-solid fa-house"></i>
            Home Phone: +6349 123 4567
        </p>
        <p>
            <i class="fa-solid fa-mobile-screen-button"></i>
            Cell Phone: +63 912 345 6789
        </p>
        <p>
            <i class="fa-solid fa-phone"></i>
            Business Phone: +6349 987 6543
        </p>
        <p>
            <i class="fa-solid fa-envelope"></i>
            E-mail Address: lunalovegood@hogwarts.com
        </p>
        <script src="/js/app.js"></script>
    </body>
</html>
