<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <style>
            body {
                color: #e0def4;
                font-family: 'Poppins', sans-serif;
                background-color: #191724;
                margin: 3rem;
            }

            h1 {
                color: #524f67;
            }

            img {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                border-radius: 50%;
            }

            p {
                width: 80%;
                max-width: 40rem;
            }

            .fa-solid {
                color: #403d52;
                width: 1.5rem;
            }
        </style>
    </head>
    <body>
        <h1>Browsing the <%= subreddit %> subreddit.</h1>
    </body>
</html>
