<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add new comment</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <main class="main">
            <section class="new-comment">
                <h1>Add a comment</h2>
                <form class="new-comment__form" action="/comments" method="POST">
                    <label>
                        <span>Username:</span>
                        <input type="text" name="username" />
                    </label>
                    <label>
                        <span>Comment:</span>
                        <textarea name="comment" cols="30" rows="5"></textarea>
                    </label>
                    <button class="submit-btn" type="submit">Submit</button>
                </form>
                <a class="link-btn" href="/comments">View all comments</a>
            </section>
        </main>
    </body>
</html>